**Team_Swift** *Recommender System for Lucid.blog*


---

**DATA IMPORTATION**



*   importing data from google drive to colab

In [46]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**DATA_PREPARATION**



*   importing libaries

In [0]:
#importing needed modules
import pandas as pd
import numpy as np

**EXPLORATION OF DATA ANALYSIS**

In [48]:
#Exploring the contact_settings table
contact_settings = pd.read_csv('/content/drive/My Drive/lucid/contact_settings.csv')
contact_settings.describe()

               id      user_id  created_at  updated_at
count  249.000000   249.000000         0.0         0.0
mean   125.000000   846.518072         NaN         NaN
std     72.024301   571.215252         NaN         NaN
min      1.000000    19.000000         NaN         NaN
25%     63.000000   365.000000         NaN         NaN
50%    125.000000   726.000000         NaN         NaN
75%    187.000000  1308.000000         NaN         NaN
max    249.000000  2263.000000         NaN         NaN

In [49]:
#Exploring the extfeeds table
extfeeds = pd.read_csv('/content/drive/My Drive/lucid/extfeeds.csv')
extfeeds.describe()

                id    user_id  created_at  updated_at  tags
count    45.000000  45.000000         0.0         0.0   0.0
mean   2861.000000   6.044444         NaN         NaN   NaN
std      13.133926   7.728211         NaN         NaN   NaN
min    2839.000000   2.000000         NaN         NaN   NaN
25%    2850.000000   2.000000         NaN         NaN   NaN
50%    2861.000000   3.000000         NaN         NaN   NaN
75%    2872.000000   7.000000         NaN         NaN   NaN
max    2883.000000  45.000000         NaN         NaN   NaN

In [50]:
#Exploring the following table
following = pd.read_csv('/content/drive/My Drive/lucid/following.csv')
following.describe()

             my_id  follower_id       status
count  5296.000000  5296.000000  5296.000000
mean    793.865370   695.724887     0.976020
std     518.974621   520.907520     0.153002
min       1.000000     1.000000     0.000000
25%     353.000000   218.000000     1.000000
50%     722.000000   642.000000     1.000000
75%    1161.000000  1075.000000     1.000000
max    2287.000000  2218.000000     1.000000

In [51]:
#Exploring the notifications table
notifications = pd.read_csv('/content/drive/My Drive/lucid/notifications.csv')
notifications.describe()

               id      post_id  ...      user_id      status
count  190.000000    60.000000  ...   190.000000  190.000000
mean    99.368421   804.616667  ...    91.600000    0.336842
std     57.993259   295.624194  ...   345.721832    0.473879
min      1.000000   143.000000  ...     1.000000    0.000000
25%     50.250000   423.000000  ...     4.000000    0.000000
50%     97.500000   992.000000  ...     6.000000    0.000000
75%    144.750000   998.000000  ...     6.000000    1.000000
max    222.000000  1007.000000  ...  2218.000000    1.000000

[8 rows x 6 columns]

In [52]:
#Exploring the posts table
posts = pd.read_csv('/content/drive/My Drive/lucid/posts.csv')
posts.describe()

                id      user_id  status_id  post_id
count   876.000000   876.000000        0.0      0.0
mean    516.808219  1061.639269        NaN      NaN
std     278.648058   788.070779        NaN      NaN
min       1.000000     1.000000        NaN      NaN
25%     278.750000   338.000000        NaN      NaN
50%     523.500000   944.000000        NaN      NaN
75%     754.250000  1836.250000        NaN      NaN
max    1007.000000  2297.000000        NaN      NaN

In [53]:
#Exploring the users table
users = pd.read_csv('/content/drive/My Drive/lucid/users.csv')
users.describe()

                id  password
count  2293.000000       0.0
mean   1147.753598       NaN
std     663.105813       NaN
min       1.000000       NaN
25%     574.000000       NaN
50%    1147.000000       NaN
75%    1720.000000       NaN
max    2297.000000       NaN

In [54]:
#Exploring the user_settings table
user_settings = pd.read_csv('/content/drive/My Drive/lucid/user_settings.csv')
user_settings.describe()

             id   user_id  setting_path  tabs
count  2.000000  2.000000           0.0   0.0
mean   1.500000  3.000000           NaN   NaN
std    0.707107  1.414214           NaN   NaN
min    1.000000  2.000000           NaN   NaN
25%    1.250000  2.500000           NaN   NaN
50%    1.500000  3.000000           NaN   NaN
75%    1.750000  3.500000           NaN   NaN
max    2.000000  4.000000           NaN   NaN

In [55]:
#Exploring the thoughts table
thoughts = pd.read_csv('/content/drive/My Drive/lucid/thoughts.csv')
thoughts.describe()

              id      user_id
count  16.000000    16.000000
mean    8.500000   990.250000
std     4.760952  1137.363472
min     1.000000     1.000000
25%     4.750000     4.000000
50%     8.500000    77.000000
75%    12.250000  2223.000000
max    16.000000  2278.000000

In [0]:
#relevant keys in the thoughts dataframe
thoughts.keys()

Index(['id', 'user_id', 'content', 'created_at', 'updated_at'], dtype='object')

In [56]:
#relevant keys in the users dataframe
users.keys()

Index(['id', 'name', 'username', 'email', 'image', 'provider', 'provider_id',
       'password', 'remember_token', 'created_at', 'updated_at', 'short_bio'],
      dtype='object')

In [57]:
#relevant keys in the posts dataframe
posts.keys()

Index(['id', 'user_id', 'title', 'content', 'tags', 'slug', 'created_at',
       'updated_at', 'image', 'status_id', 'action', 'post_id'],
      dtype='object')

In [58]:
#relevant keys in the following dataframe
following.keys()

Index(['my_id', 'follower_id', 'status'], dtype='object')

In [59]:
#relevant keys in the notifications dataframe
notifications.keys()

Index(['id', 'post_id', 'parent_comment_id', 'comment', 'sender_id', 'user_id',
       'status', 'action', 'type', 'created_at', 'updated_at'],
      dtype='object')

In [60]:
#knowing the table size of our users,posts and following dataframe using columns and rows
users.shape,posts.shape,following.shape

((2293, 12), (876, 12), (5296, 3))

In [0]:
# Remove html tags
posts['content'] = posts['content'].str.replace(r'<[^>]*>', '')

# Remove white spaces including new lines
posts['content'] = posts['content'].str.replace(r'\s', ' ')

# Remove square brackets
posts['content'] = posts['content'].str.replace(r'\[.*?\]', '')

# Remove image files
posts['content'] = posts['content'].str.replace(r'\(.*?\)', '')

**BUILDING THE "WHO TO FOLLOW" RECOMMENDER SYSTEM**

In [0]:
#importing needed modules
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer

In [0]:
tfidf = TfidfVectorizer(stop_words='english')
# filling the missing values with empty string
users['short_bio'] = users['short_bio'].fillna('')
# computing TF-IDF matrix required for calculating cosine similarity
users_short_bio_matrix = tfidf.fit_transform(users['short_bio'])

In [63]:
#knowing the matrix size of our users_short_bio_matrix dataframe
print("The users matrix shape is ",users_short_bio_matrix.shape)

The users matrix shape is  (2293, 2242)

In [0]:
#calculating the cosine similarity for the users_short_bio_matrix 
cos_sim = linear_kernel(users_short_bio_matrix, users_short_bio_matrix)
#getting the user indices
user_indices = pd.Series(users['name'].index)

In [0]:
#function to recommend user to follow based on similarities in their short_bio
def who_to_follow(index, cosine_sim=cos_sim):
    if index<users_short_bio_matrix.shape[0]:
        id = user_indices[index]
        # Get the pairwsie similarity scores of all names
        # sorting them and getting top 5
        similarity_scores = list(enumerate(cosine_sim[id]))
        similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
        similarity_scores = similarity_scores[1:6]
        
        # Get the names index
        lucid_index = [i[0] for i in similarity_scores]
        # Return the top 5 most similar names
        return users['name'].iloc[lucid_index]
    else: return "No recommedations for this user"

**TESTING THE RECOMMENDER SYSTEM**

In [73]:
who_to_follow(50)

712     Awotola Peter
713         Dr Drakky
714    idongesit ansa
715     Adebiyi lanre
17     Wisdom Anthony
Name: name, dtype: object

In [76]:


who_to_follow(435)

437       Stephen Ilori
166    Idongesit Essien
795        Edosa Osagie
307     Adenike Awofeso
814       Ebere Uzodufa
Name: name, dtype: object

**BUILDING THE "WHAT ARTICLES TO READ" RECOMMENDER SYSTEM**

In [0]:
tfidf = TfidfVectorizer(stop_words='english')
# filling the missing values with empty string
posts['content'] = posts['content'].fillna('')
# computing TF-IDF matrix required for calculating cosine similarity
posts_matrix = tfidf.fit_transform(posts['content'])

In [67]:
#knowing the matrix size of our posts_matrix dataframe
print("The post matrix shape is ",posts_matrix.shape)

The post matrix shape is  (876, 4597)

In [0]:
#calculating the cosine similarity for our posts_matrix
cos_sim = linear_kernel(posts_matrix, posts_matrix)
#getting our post indices
posts_indices = pd.Series(posts['title'].index)

In [0]:
#function to recommend user to follow based on similarities in their short_bio
def article_to_read(index, cosine_sim=cos_sim):
    if index<posts_matrix.shape[0]:
        id = posts_indices[index]
        # Get the pairwsie similarity scores of all names
        # sorting them and getting top 5
        similarity_scores = list(enumerate(cosine_sim[id]))
        similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
        similarity_scores = similarity_scores[1:6]
        # Get the names index
        lucid_index = [i[0] for i in similarity_scores]
        # Return the top 5 most similar names
        return posts['title'].iloc[lucid_index]
    else: return "No recommedations for this user"

**TESTING THE RECOMMENDER SYSTEM**

In [78]:
article_to_read(750)

746                             CSS Rules
749                             CSS Rules
750                             CSS Rules
751                             CSS Rules
732    why CSS has made HTML much better.
Name: title, dtype: object